@import "tailwindcss";

:root {
  --font-display: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --foreground: #06c755;
}

@theme inline {
  --color-foreground: var(--foreground);
}

@layer base {
  h1 {
    font-weight: bold;
  }
  a:hover {
    text-decoration-line: underline;
  }
}

body {
  font-family: var(--font-display);
}

